/* --- Barra lateral --- */
.sidebar {
    width: 220px;
    max-width: 80vw;
    height: 100vh;
    background-color: #D7D7D7;
    color: #1C1B1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    top: -15px;
    left: 0;
    z-index: 20;
    transition: transform 0.3s ease;
    overflow: hidden;
}

/* --- Logo --- */
.logo {
    text-align: center;
    margin-bottom: -5px;
}

.logo img {
  width: 60%;
  height: auto;
}

/* --- Contenedor de ítems --- */
.nav-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  gap: 15px;
}

/* --- Items de navegación --- */
.nav-item {
  width: 90%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  color: #1C1B1F;
  text-decoration: none;
}

.nav-item i {
  font-size: 22px;
  margin-bottom: 5px;
}

.nav-item span {
  font-size: 13px;
  font-weight: 600;
}

.nav-item:hover {
  background-color: #bfbfbf;
  border-radius: 15px;
}

.nav-item.active {
  background-color: #a6a6a6;
  border-radius: 15px;
}

/* --- Responsivo --- */
@media (max-height: 700px) {
  .nav-item i {
    font-size: 18px;
  }

  .nav-item span {
    font-size: 11px;
  }

  .nav-item {
    padding: 6px 0;
  }

  .logo img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 70vw;
    max-width: 250px;
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .nav-item i {
    font-size: 20px;
  }

  .nav-item span {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .nav-item i {
    font-size: 18px;
  }

  .nav-item span {
    font-size: 10px;
  }
}
